@import './variable';
@import './helpers';
@import './button';

// стили для 3 задания из первых 2х импортов
.font{
  &__small{
    font-size: $small-font-size;
  }
  &__medium{
    font-size: $normal-font-size;
  }
  &__big{
    font-size: $big-font-size;
  }
  &__base{
    font-size: $base-font-size;
  }
}

.color{
  display: flex;
  &>div{
    width: 100px;
    height: 100px;
  }
  &__first{
    background-color: $color-first;
  }
  &__second{
    background-color: $color-second;
  }
  &__third{
    background-color: $color-third;
  }
}

.px2em{
  font-size: px2em(32);
}

// 7 задание
.menu{
  //@include makeButton(rgb(255, 163, 57), white, 1em, 5px);
  width: 250px;
  display: flex;

  ul {
    padding:0;
    margin:auto;
    list-style: none;
    position: relative;

    min-width: 250px;

    li {
      //margin: 0px -7px 0 0;
      //display:inline-block;
      background-color: rgb(255, 163, 57);

      &:hover > ul {
        display:inherit;
      }
    }

    ul {
      display: none;
      position: absolute;
      top: 100%;

      li {
        min-width:170px;
        display:list-item;
        position: relative;
        background-color: rgb(255, 180, 119);
      }

      ul {
        position: absolute;
        top:0;
        left:100%;
      }
    }
  }
  
  a {
    display:block;
    padding:0 10px;
    color:#FFF;
    //font-size:20px;
    //line-height: 60px;
    text-decoration:none;
    &:hover {
      background-color: #000000;
    }
  }
}
// 4 задание
.btn{
  background-color: blue;
  min-width: 125px;
  height: 50px;
  border-radius: 5px;
  color: #ffffff;
}
.btn-off{
  @extend .btn;
  background-color: gray;
}
//5 задание
.test-mixin{
  @include makeButton(rgb(182, 41, 41), white, 1em, 5px)
}
//6 задание
.test-mixin-1{
  @include createThemeButtons($themePallete, #dff333, #707070, 1em, 10px)
}

