@import './variable';
@import './helpers';
@import './button';

.font{
  &__small{
    font-size: $small-font-size;
  }
  &__medium{
    font-size: $normal-font-size;
  }
  &__big{
    font-size: $big-font-size;
  }
  &__base{
    font-size: $base-font-size;
  }
}

.color{
  display: flex;
  &>div{
    width: 100px;
    height: 100px;
  }
  &__first{
    background-color: $color-first;
  }
  &__second{
    background-color: $color-second;
  }
  &__third{
    background-color: $color-third;
  }
}

.px2em{
  font-size: px2em(32);
}