extends ../templates/layout/baseLayout
block variables
  - var title= "О нас"
block main
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ut hic amet ea? Doloribus nihil maxime beatae eos! Cum iure magnam doloremque laboriosam quam dolorum sit! Praesentium perferendis id accusamus!

