extends ../templates/layout/baseLayout
block variables
  title Контакты
block main
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, reiciendis dolore incidunt similique recusandae facere eligendi unde impedit omnis amet! Error autem ab unde ullam harum nemo eveniet aspernatur quasi?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, reiciendis dolore incidunt similique recusandae facere eligendi unde impedit omnis amet! Error autem ab unde ullam harum nemo eveniet aspernatur quasi?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, reiciendis dolore incidunt similique recusandae facere eligendi unde impedit omnis amet! Error autem ab unde ullam harum nemo eveniet aspernatur quasi?