extends ../templates/layout/baseLayout

block variables
  title Продвинутая вёрстка

block main
  +button("text1", "button_big", "button__class")
  +button("text2", "button_small", "button__class", true)

  br 
  br

  //-.table 
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25")
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25")
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25")
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"})
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"})
    +card("./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"})
    +card(imagePath, "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25")
    +card(imagePath, "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25")
    +card(imagePath, "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25")
    +card(imagePath, "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"})

  - 
    var elementList = [
      ["./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25"],
      ["./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25"],
      ["./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25"],
      ["./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, ""],
      ["./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, ""],
      ["./images/brick.jpg", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, ""],
      ["", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25"],
      ["", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25"],
      ["", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, "25"],
      ["", "Кирпич керамический озёрский одинарный", {"Вид: ":"Пустотелый", "Марка: ":"М150", "Поверхность: ":"Рифлёный", "Размер: ":"250х120х88", "Формат: ":"1,4 НФ", "Цвет: ":"Красный"}, ""]
    ]
  
  .table 
    each element in elementList
      +card(element[0], element[1], element[2], element[3])

