extends ../templates/layout/baseLayout

include ../templates/mixins/_mainSlider.pug

block variables
  - var title= "Продвинутая вёрстка"

block main

  - var imgPath = ["./images/pic1.jpg", "./images/pic2.jpg", "./images/pic3.jpg", "./images/pic4.jpg"]

  +slider(imgPath)

  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(src="./js/main.js") 
  script(src="./js/slick.js")
  
  
  
