// 7 задание
.menu{
  width: 250px;
  display: flex;

  ul{  
    padding:0;
    margin:auto;
    list-style: none;
    position: relative;
    min-width: 250px;

    li{
      background-color: rgb(255, 163, 57);

      &:hover > ul {
        display:inherit;
      }
    }

    ul{
      display: none;
      position: absolute;
      top: 100%;

      li{
        min-width:170px;
        display:list-item;
        position: relative;
        background-color: rgb(255, 180, 119);
      }

      ul{
        position: absolute;
        top:0;
        left:100%;
      }
    }
  }
  
  .menu__button{
    display:block;
    padding:0 10px;
    color:#FFF;
    text-decoration: none;

    &:hover{
      background-color: #000000;
    }
  }
}
