.frame2{
  &__wrapper{
    position: relative;
    margin: auto;
    margin-top: 184px;
    width: 1140px;
    display: flex;
    @media screen and (max-width: 767px) {
      width: 650px;
      margin-top: 100px;
      flex-direction: column;
    }
  }

  &__texts{
    width: 340px;
    margin: auto;
    text-align: center;
  }

  &__text-1{
    font-family: Source Serif Pro;
    color: $orange;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.05em;
  }

  &__text-2{
    margin-top: -10px;
    font-family: Source Serif Pro;
    font-size: 44px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.008em;
  }

  &__text-3{
    margin-top: -24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 160%;
  }

  &__imgs{
    width: 555px;
    height: 326px;
    margin-left: 245px;
    margin-top: 10px;
    position: relative;
    display: flex;
    @media screen and (max-width: 767px) {
      margin: auto;
      margin-top: 50px;
    }
  }

  &__img-main{
    position: absolute;
    z-index: -5;

  }

  &__img-blur{
    right: -50px;
    top: -55px;
    position: absolute;
    z-index: -10;
    @media screen and (max-width: 767px) {
      right: -20px;
      top: -25px;
    }
  }

  &__button{
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 0;
    border: 0;
    background: url('../images/frame2-button.svg');
    z-index: 10;
    &:hover{
      cursor: pointer;
    }
  }
}

