.frame3{
  &__wrapper{
    // position: relative;
    margin: auto;
    margin-top: 145px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      width: 650px;
    }
  }

  &__header{
    font-family: Source Serif Pro;
    color: $orange;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    letter-spacing: 0.05em;
  }

  &__text{
    font-family: Source Serif Pro;
    font-size: 44px;
    font-weight: 600;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 63px;
    letter-spacing: 0.007em;
  }

  &__card-wrapper{
    display: flex;
    flex-wrap: wrap;
  }

  &__card{
    width: 360px;
    height: 423px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   

    &:nth-child(2){
      margin-left: 30px;
      margin-right: 30px;
    }

    &:hover{
      box-shadow: none;
      background-color: lighten($orange, 44%);
    }

    @media screen and (max-width: 767px) {
      width: 275px;
      margin: auto;
      margin-top: 15px;
    }
  }

  &__card-pic{
    width: 140px;
    height: 140px;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 38px;
  }

  &__card-name{
    margin: auto;
    margin-bottom: 0;
    margin-top: 5px;
    font-family: Source Serif Pro;
    font-size: 22px;
    font-weight: 600;
  }

  &__card-text{
    width: 240px;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 0;
    line-height: 160%;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    opacity: 0.7;
  }

  &__card-link{
    margin: auto;
    margin-top: 24px;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
    color: $orange;
    &::after{
      content: url('../images/frame3-arrow.svg');
    }
  }
}
