.frame1{
  &__wrapper{
    position: relative;
    margin: auto;
    width: 1140px;
    @media screen and (max-width: 767px) {
      width: 650px;
    } 
  }

  &__backgroungBig{
    position: absolute;
    background: linear-gradient(90deg, $orange, #ffffff);
    width: 92%;
    height: 650px;
    opacity: 0.1;
    top: 0;
    @media screen and (max-width: 767px) {
      width: 100%;
      background: $orange;
      height: 800px;
    } 

    &::after{
      content: '';
      z-index: 10;
      position: absolute;
      right: 0;
      height: 650px;
      width: 27.5%;
      background-color: #ffffff;
      transform: skew(-16.5deg, 0);
      @media screen and (max-width: 767px) {
        display: none;
      } 
    }
  }

  &__header{
    margin-top: 40px;
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    } 
  }

  &__logo{
    @media screen and (max-width: 767px) {
      width: 92px;
      margin: auto;
    } 
  }

  &__navMenu{
    display: flex;
    margin-left: 100px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      margin-left: 0;
      margin: auto;

    } 
  }

  &__navMenu-item{
    margin: auto;
    margin-right: 40px;
    text-decoration: none;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    &:hover{
      color: $orange;
    }
    @media screen and (max-width: 767px) {
      margin-right: 0;
      text-align: center;
      font-size: 24px;
      margin: 10px auto;
    } 
  }

  &__button-header{
    margin-left: 437px;
    width: 139px;
    height: 59px;
    border-radius: 5px;
    border: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    background-color: $orange;
    color: #ffffff;
    &:hover{
      cursor: pointer;
    }
    @media screen and (max-width: 767px) {
      display: none;
    } 
  }

  &__wrapper-center{
    margin-top: 46px;
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    } 
  }

  &__texts{
    display: flex;
    flex-direction: column;
  }

  &__text-1-part-1{
    margin-top: 60px;
    // line-height: 73.2px;
    font-family: Source Serif Pro;
    font-size: 61px;
    font-weight: 600;
    letter-spacing: 0.005em;
    @media screen and (max-width: 767px) {
      font-size: 45px;
    } 
  }

  &__text-1-part-2{
    line-height: 73.2px;
    margin-top: -62px;
    color: $orange;
    font-family: Source Serif Pro;
    font-size: 61px;
    font-weight: 600;
    letter-spacing: 0.005em;
    &::after{
      content: '.';
      color: #000000;
    }
    @media screen and (max-width: 767px) {
      font-size: 45px;
    }
  }

  &__text-2{
    margin-top: -44px;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25.6px;
    opacity: 0.7;
    @media screen and (max-width: 767px) {
      width: 175px;
    }
  }

  &__slider-wrapper{
    position: absolute;
    right: 25px;
    margin-top: -15px;
  }

  &__slider{
    width: 600px;
  }

  &__slider-next-btn{
    position: absolute;
    right: -25px;
    top: 165px;

    border: 0;
    padding: 0;

    width: 70px;
    height: 70px;
    background: url('../images/frame1-slider-button.svg') 0 0 / 100% no-repeat;
    &:hover{
      cursor: pointer;
    }
  }

  &__slider-background {
    position: absolute;
    right: 10px;
  }

  &__slider-pic{
    max-width: 600px;
    max-height: 400px;
    @media screen and (max-width: 767px) {
      max-width: 500px;
      max-height: 333px;
      margin-left: 65px;
      margin-top: 30px;
    } 
  }

  &__menu{
    padding: 35px 55px;
    margin-top: 65px;
    width: 682px;
    height: 55px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);    
    background-color: #ffffff;
    z-index: 10;

    display: flex;

    font-family: Poppins;
    @media screen and (max-width: 767px) {
      padding: 35px 25px;
      width: 600px;
    } 
  }

  &__menu-col{
    width: 76px;
    display: flex;
    flex-direction: column;
    &:nth-child(1){
      margin-right: 10px;
    }
    &:nth-child(4){
      width: 65px;
    }
  }
  
  &__menu-name{
    margin-top: 0;
    opacity: 0.7;
    font-size: 16px;
  }

  &__menu-select{
    font-size: 18px;
    margin-top: -5px;
    margin-left: -5px;  
    border: 1px solid #ffffff;
    background-image: url('../images/frame1-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 0% top 50%;
    appearance: none;
  }

  &__menu-line{
    margin: auto 35px;
    @media screen and (max-width: 767px) {
      margin: auto 20px;
    } 
  }

  &__button-menu{
    margin-left: 27px;
    width: 128px;
    height: 56px;
    background-color: $orange;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    &:hover{
      cursor: pointer;
    }
  }


}

// @media screen and (max-width: 767px) {

// } 

// @media screen and (max-width: 575px) {

// }
