mixin slider(className, imagePath)
  div(class=`${className}__slider`)
    each path in imagePath 
      //-div(class=`${className}__slider-pic-wrapper`)
      img(class=`${className}__slider-pic`, src=path, alt="Изображение товара")