include ../../templates/mixins/_card

.frame3
  .frame3__wrapper 
    p.frame3__header FEATURE
    p.frame3__text We have best feature in Shoes
    .frame3__card-wrapper
      +card('./images/frame3-pic1.svg', 'Quality', 'frame3')
      +card('./images/frame3-pic2.svg', 'Flexible', 'frame3')
      +card('./images/frame3-pic3.svg', 'Long Lasting', 'frame3')