.frame7
  .frame7__wrapper 
    footer.frame7__footer
      .frame7__footer-main
      img(src='./images/frame7-line.svg').frame7__footer-line
      p.frame7__footer-sign Copyright 2021 The PUMA All Rights Reserved.
