include ../../templates/mixins/_frame4Slider

.frame4 
  .frame4__wrapper 
    p.frame4__header GALLARY
    p.frame4__text 40+ YEARS’ EXPERIENCE
    .frame4__menu 
      p.frame4__menu-name Categories:
      .frame4__menu-item(data-filter='All') All
      .frame4__menu-item(data-filter='Male') Male
      .frame4__menu-item(data-filter='Female') Female
      .frame4__menu-item(data-filter='Kids') Kids
      button.frame4__slider-next-btn 
      button.frame4__slider-prev-btn 

    
    - var imagePaths = ['./images/frame4-male1.png', './images/frame4-male2.png', './images/frame4-male3.png', './images/frame4-male4.png', './images/frame4-male2.png', './images/frame4-male3.png']
    - var names = ['Puma RS-X Bold', 'Puma Sneakers', 'Puma Ferrari', 'Puma Running', 'Puma Sneakers', 'Puma Ferrari']
    - var prices = ['$200', '$180', '$190', '$200', '$180', '$190']
    - var sizes = ['Dubble-XL', 'Dubble-XL', 'Dubble-XL', 'Dubble-XL', 'XL', 'XS']
    - var types = ['Male', 'Female', 'Kids', 'Male', 'Female', 'Kids']

    +frame4Slider('frame4', imagePaths, names, sizes, prices, types)

    

    