.frame6   
  .frame6__wrapper 
    img(src='./images/frame6-img.png').frame6_img
    .frame6__block 
      p.frame6__header Sign up to our Newsletter
      p.frame6__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu sagittis, Atiam lorem sed justo amet viverra in a.
      form.frame6__form
        input(type="text" placeholder="Enter your email address").frame6__form-input
        +button("Send", "frame6__form-button")