.frame1
  div.frame1__backgroungBig
  .frame1__wrapper 
    
    header.frame1__header 
      img(src="./images/logo.svg" alt="logo pic").frame1__logo 
      .frame1__menu 
        a(href="#").frame1__menu-item Menu
        a(href="#").frame1__menu-item About
        a(href="#").frame1__menu-item Feature
        a(href="#").frame1__menu-item Gallary
      +button("Buy now", "frame1__button") 