.frame2
  .frame2__wrapper 
    .frame2__texts 
      p.frame2__text-1 VIDEO
      p.frame2__text-2 Desire the feel of satisfaction.
      p.frame2__text-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices commauris risus.
    .frame2__imgs
      img.frame2__img-main(src="./images/frame2-image.png", alt="img-main")
      img.frame2__img-blur(src="./images/frame2-image-blur.png", alt="img-blur")
      button.frame2__button
      