.frame7
  .frame7__wrapper 
    footer.frame7__footer
      .frame7__footer-main
        .frame7__col.frame7__col-1
          img(src='./images/logo.svg').frame7__logo
          p.frame7__address 10 New Town Street, V2 5NW, Newstate, USA.
          a(href='mailto:shovasatkhira88@gmail.com').frame7__email shovasatkhira88@gmail.com
          .frame7__icons 
            a(href='http://fb.com').frame7__icon.frame7__icon-fb
            a(href='http://instagram.com').frame7__icon.frame7__icon-inst
            a(href='http://twitter.com').frame7__icon.frame7__icon-tw
            a(href='http://google.com').frame7__icon.frame7__icon-gl
        .frame7__col.frame7__col-2
          p.frame7__header Our services
          a(href='#').frame7__links About us
          a(href='#').frame7__links Feature
          a(href='#').frame7__links Gallary
        .frame7__col.frame7__col-3
          p.frame7__header Support
          a(href='#').frame7__links Privacy & Policy
          a(href='#').frame7__links Terms & Condition
          a(href='#').frame7__links Support System
        .frame7__col.frame7__col-4
          p.frame7__header Contact us
          p.frame7__text Lorem ipsum dolor sit amet consectetur adipiscin.
          form.frame7__form
            input(type="text" placeholder="Mail address").frame7__form-input
            +button("Send", "frame7__form-button")
      img(src='./images/frame7-line.svg').frame7__footer-line
      p.frame7__footer-sign Copyright 2021 The PUMA All Rights Reserved.
